{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-8">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from: test
    <ul>
        <li>Your controller at <code>/Users/denz/Lab/Elan/sf_cda/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>/Users/denz/Lab/Elan/sf_cda/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
