parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    ignoreErrors:
        - '#Property App\\Entity\\.*::\$id is never written, only read\.#'
